apiVersion: v1
kind: Service
metadata:
  name: portfolio-metrics-api
  namespace: portfolio-metrics
  labels:
    app: portfolio-metrics-api
spec:
  type: NodePort  # Allows access from host machine
  ports:
  - port: 8000                    # Service internal port
    targetPort: 8000              # Pod container port
    nodePort: 30080               # NodePort port (must be 30000-32767)
                                  # 30080 = 30000 + 80 (HTTP standard port)
    protocol: TCP
    name: http
  selector:
    app: portfolio-metrics-api

